################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleTradeTracker/SimpleTradeTracker.Client/obj/Debug
